.pagination-container {
    font-size: 1rem;
}
.pagination-container .page-link{
    color: black;
}
.pagination-container .page-item.active .page-link{
    background-color: black;
    border-color: black;
}